<div class='panel panel-primary'>
  <div class='panel-heading'>
    Your incidents
  </div>

  <a class="btn btn-primary" style="width:150px; margin-left:10px; margin-top:10px;"  [routerLink]="['/incident-add']">
    Add an incident
  </a>

  <div class='panel-body'>
    <div class='table-responsive'>
      <table class='table' *ngIf='incidents && incidents.length'>
        <thead>
          <tr>
            <th>Title</th>
            <th>Status</th>
            <th *ngIf='(isAdmin === true)'>Priority</th>
            <th *ngIf='(isAdmin === true)'>Assigned to</th>
            <th *ngIf='(isAdmin === true)'>Created by</th>
            <th>Date created</th>
            <th>Date modified</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let incident of incidents'>
            <td>{{incident.title}}</td>
            <td>{{incident.status}}</td>
            <td *ngIf='incident.priority'>{{incident.priority}}</td>
            <td *ngIf='incident.assignedTo'>{{incident.assignedTo}}</td>
            <td *ngIf='incident.createdBy'>{{incident.createdBy}}</td>
            <td>{{incident.dateCreated|date:'dd/MM/yyyy'}}</td>
            <td>{{incident.dateModified|date:'dd/MM/yyyy'}}</td>
            <td>
              <a class="btn btn-primary" [routerLink]="['/incidents', incident.incidentId]">
                Details
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
