<div class="panel panel-primary">
    <div class="panel-heading" *ngIf='comment'>
      Edit comment posted by {{comment.author}} at {{comment.dateCreated}}
    </div>

    <div class="panel-body" *ngIf='(isAdmin === true)'>
        <form class="form-horizontal" novalidate (ngSubmit)="saveComment()" [formGroup]="commentForm">
          <fieldset>
            <div class="form-group">
              <label class="col-md-2 control-label" for="messageId">Message</label>
              <div class="col-md-8">
                <input class="form-control" id="messageId" type="text" placeholder="Message" formControlName="message" />
              </div>
            </div>

          <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
              <span>
                <button class="btn btn-primary" type="submit">
                  Save
                </button>
              </span>
              <span>
                <a class="btn btn-default" [routerLink]="['/incidents', incidentId]">
                    Back
                </a>
              </span>
            </div>
          </div>

        </fieldset>
      </form>
    </div>

  </div>
