<div class="row" style="margin: 0px;">
    <table class='table' *ngIf='comments && comments.length'>
            <thead>
              <tr>
                <th>Author</th>
                <th>Message</th>
                <th>Date Created</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor='let comment of comments'>
                <td>{{comment.author}}</td>
                <td>{{comment.message}}</td>
                <td>{{comment.dateCreated|date:'dd/MM/yyyy'}}</td>
                <td>
                  <a *ngIf='(isManager === true)' class="btn btn-primary" [routerLink]="['/incidents', incidentId,'comment-update', comment.commentId]">
                    Edit
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
</div>
